<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>The Deadly Dungeons of Baron Backslash</h3>
				<p>A fiendishly challenging retro throwback pixel-art dungeon escape game.</p>
				<h5 class="projectLink"><a href="/baronbackslash">www.baronbackslash.com</a></h5>
				<h5 class="projectLink"><a href="https://github.com/remdd/crawler">View on GitHub <i class="devicon-github-plain"></i></a></h5>

				<div class="centreDiv">
					<hr>
					<figure class="devicon-figure">
						<i class="devicon-html5-plain"></i>
						<figcaption>HTML5</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-jquery-plain"></i>
						<figcaption>jQuery</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-nodejs-plain"></i>
						<figcaption>Node.js</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-express-original"></i>
						<figcaption>Express</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-mongodb-plain"></i>
						<figcaption>MongoDB</figcaption>
					</figure>
					<hr>
				</div>

				<p>As a reward for succesfully following through on my 2017 New Year's resolution to learn to code, I let myself spend a few weeks concentrating on making a project just for myself! I've always wanted to give game development a shot, and this is the result - the Deadly Dungeons of Baron Backslash.</p>
				<div id="crossfadeContainerBB">
					<img class="projectImg crossfadeImg" src="/img/Startscreen.jpg">
					<img class="projectImg crossfadeImg" src="/img/Screenshot1.jpg">
					<img class="projectImg crossfadeImg" src="/img/Screenshot2.jpg">
					<img class="projectImg crossfadeImg" src="/img/Screenshot3.jpg">
					<img class="projectImg crossfadeImg" src="/img/Screenshot4.jpg">
					<img class="projectImg crossfadeImg" src="/img/Screenshot5.jpg">
				</div>
				<hr>
				<p>The game is built entirely in the HTML5 canvas and Javascript, with a simple MongoDB integration for the scoreboards. The game engine was built from scratch, although I did use the open source <a href="https://github.com/IceCreamYou/MainLoop.js">MainLoop.js</a> to control overall game timing, as well as a seedable pseudo-random number generator <a href="https://gist.github.com/blixt/f17b47c62508be59987b">prng.js</a> to allow for repeat creation of a particular level constructed by the level creation algorithms.</p>
				<p>Although the game isn't going to win any awards for originality, I'm very pleased with how it came together. Hopefully someone out there will get sufficiently into it to make it through to the final boss and complete the game. Definitely not an easy task, but it can be done!</p>

				<hr>

				<div class="col col-12 centredDiv">
					<img src="/img/<%= footerIcon %>">		
				</div>

				<p>Previous project: <a href="/projects/wikifindings">WikiFindings</a></p>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/projects.js"></script>


<% include ../partials/footer %>

