<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>Chasing Shadows</h3>
				<p>A portfolio website for a London-based photographer.</p>
				<h5 class="projectLink"><a href="http://www.chasingshadowsphotography.com" target="_blank">www.chasingshadowsphotography.com</a></h5>
				<h5 class="projectLink"><a href="http://www.chasingshadowsphotography.com/music" target="_blank">www.chasingshadowsphotography.com/music</a></h5>
				<h5 class="projectLink"><a href="https://github.com/remdd/ChasingShadows">View on GitHub <i class="devicon-github-plain"></i></a></h5>

				<div class="centreDiv">
					<hr>
					<figure class="devicon-figure">
						<i class="devicon-html5-plain"></i>
						<figcaption>HTML5</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-jquery-plain"></i>
						<figcaption>jQuery</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-css3-plain"></i>
						<figcaption>CSS3</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-bootstrap-plain"></i>
						<figcaption>Bootstrap</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-nodejs-plain"></i>
						<figcaption>Node.js</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-express-original"></i>
						<figcaption>Express</figcaption>
					</figure>
					<hr>
				</div>

				<img class="projectImg" src="/img/chasingshadows.jpg">
				<p>The client had a clear concept in mind, with a sleek and minimal layout, and for the content of the site to be split in two distinct, self-contained sections.</p>
				<p>The first of these would display her nature and travel photography, the second her gig and fashion photography. These two halves were to be visually distinct but consistent, with visitors to one section not necessarily needing to be aware of the existence of the other.</p>
				<p>The final design delivered this using a discreet button in the bottom-right of the browser window to toggle between the two sections of the site, switching the theme from black-on-white (nature and travel galleries) to white-on-black (music and fashion galleries).</p>
				<div class="chasingVideoWrapperWrapper">
					<div class="videoWrapper chasingVideoWrapper">
						<video autoplay loop height="284" width="600" id="csvid">
							<source src="/vid/chasingshadows.mp4" type="video/mp4">
							<source src="/vid/chasingshadows.ogg" type="video/ogg">
							<p>Sorry, Your browser does not support the video tag.</p>
						</video>
					</div>
				</div>
				<button id="csbtn" onclick="csclick();"><i class="fa fa-pause" aria-hidden="true"></i></button>
				<p>The site was built on <span class="spanTech spanLanguage">Node</span> and <span class="spanTech spanFramework">Express</span> foundations, using <span class="spanTech spanLibrary">jQuery</span>, <span class="spanTech spanCSS">Bootstrap</span> and <span class="spanTech spanLibrary">Masonry</span> on the front-end.

				<hr>

				<div class="col col-12 centredDiv">
					<img src="/img/<%= footerIcon %>">		
				</div>

				<p>Next project: <a href="/projects/edutainmentconsole">Edutainment Console</a></p>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/projects.js"></script>


<% include ../partials/footer %>

