<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>Edutainment Console</h3>
				<p>An interactive touchscreen education & entertainment kiosk for a zoo visitor centre in Cumbria.</p>
				<h5 class="projectLink">Installed on site at the <a href="http://www.wildlifeoasis.co.uk">Lakeland Wildlife Oasis</a></h5>
				<h5 class="projectLink"><a target="popup" href="./project_code/code_kiosk/index.html" onclick="window.open('/project_code/code_kiosk/index.html', 'kiosk', 'width=1536, height=864');">
					Launch replica kiosk (opens in new browser window)</a>
				</h5>
				<h5 class="projectLink"><a href="https://github.com/remdd/LWO_Kiosk">View on GitHub <i class="devicon-github-plain"></i></a></h5>

				<div class="centreDiv">
					<hr>
					<figure class="devicon-figure">
						<i class="devicon-html5-plain"></i>
						<figcaption>HTML5</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-css3-plain"></i>
						<figcaption>CSS3</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-javascript-plain"></i>
						<figcaption>Javascript</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-jquery-plain"></i>
						<figcaption>jQuery</figcaption>
					</figure>
					<hr>
				</div>

				<img src="/img/edutainment.jpg">

				<p>This second installation at the Wildlife Oasis (along with the <a href="./butterflypainter.ejs">Butterfly Painter</a>) is effectively an offline website for use by visitors to the centre, built mainly in <span class="spanTech spanHTML">HTML</span> and <span class="spanTech spanLanguage">Javascript</span>.</p>
				<p>Like the Butterfly Painter, this project was created for a single offline installation on local hardware and is not intended for wider deployment. The code has not been fully tested for compatibility and there may be issues in some browsers. Please also note that to give the best experience on a local machine, many resources are optimized for quality rather than web delivery - so some pages may be slow to load over the web when using the link above.</p>
				<p>The kiosk is currently made up of four sections, with further modules still under construction to be added later:</p>
				<h4>The story of the Wildlife Oasis</h4>
				<p>An interactive timeline of the history of the centre, from its inception in the late 1980s to the present day, collecting photo galleries, memorabilia, press cuttings etc from the various major milestones.</p>
				<h4>'Who am I?' game</h4>
				<p>A test-your-knowledge game, in which the user competes against the clock over several rounds to identify the correct animal from a number of options, with the help of a series of clues.</p>
				<p>Points are awarded for each round based on the speed with which the correct answer is identified, plus the number of incorrect guesses.</p>
				<h4>'Animal search' game</h4>
				<p>A series of wordsearch puzzles each containing the names of several species of animal found at the centre.</p>
				<p>To make the game more challenging, the names of the hidden animals are not provided by default, just their silhouettes - so part of the game is identifying the animals to be found (although these names can be revealed by pressing a 'help' button if a user gets stuck).</p>
				<h4>'Spot the difference' game</h4>
				<p>A classic 'spot the difference' game, in which the user is presented with the original and an edited version of one of a selection of photographs taken at the centre. The user must find all the differences between the photos as quickly as possible.</p>

				<hr>

				<div class="col col-12 centredDiv">
					<img src="/img/<%= footerIcon %>">		
				</div>

				<p>Next project: <a href="/projects/butterflypainter">Butterfly Painter</a></p>

				<p>Previous project: <a href="/projects/chasingshadows">Chasing Shadows</a></p>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/projects.js"></script>


<% include ../partials/footer %>

