<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>WikiFindings</h3>
				<p>A dynamic repository of lay summaries of research articles.</p>
				<h5 class="projectLink">Live now at <a href="https://www.wikifindings.net">wikifindings.net</a></h5>
				<h5 class="projectLink"><a href="https://github.com/remdd/wikifindings">View on GitHub <i class="devicon-github-plain"></i></a></h5>

				<div class="centreDiv">
					<hr>
					<figure class="devicon-figure">
						<i class="devicon-html5-plain"></i>
						<figcaption>HTML5</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-jquery-plain"></i>
						<figcaption>jQuery</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-bootstrap-plain"></i>
						<figcaption>Bootstrap</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-nodejs-plain"></i>
						<figcaption>Node.js</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-express-original"></i>
						<figcaption>Express</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-mongodb-plain"></i>
						<figcaption>MongoDB</figcaption>
					</figure>
					<hr>
				</div>

				<p>WikiFindings aims to assist in the communication of newly published scientific research to a lay audience, researchers in other fields and the general public.</p>
				<p>The WikiFindings project was conceived by <a href="https://sites.google.com/view/andrewdhigginson/home">Dr Andrew Higginson</a>, a Research Fellow in Theoretical Ecology currently based at the University of Bristol, who is actively developing it in partnership with Red Mars Digital.</p>
				<hr>
				<p>The site is built in <span class="spanTech spanLanguage">Node</span>, <span class="spanTech spanFramework">Express</span> and <span class="spanTech spanDB">mongoDB</span>.</p>
				<p>From a technical standpoint, WikiFindings represents a significant step up in complexity from other projects undertaken to date - requiring multiple user types, detailed database models, asynchronous server events and secure user data handling with dependencies such as <span class="spanTech spanLibrary">Passport</span> and <span class="spanTech spanLibrary">Nodemailer</span>.</p>
				<p>At the time of writing (Sep 2017) WikiFindings is alpha-ready and will shortly be rolled out to a limited trial group for production testing and loading of initial content.</p>

				<hr>

				<div class="col col-12 centredDiv">
					<img src="/img/<%= footerIcon %>">		
				</div>

				<p>Next project: <a href="/projects/baronbackslash">The Deadly Dungeons of Baron Backslash</a></p>
				<p>Previous project: <a href="/projects/butterflypainter">Butterfly Painter</a></p>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/projects.js"></script>


<% include ../partials/footer %>

