<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<h3>Welcome back!</h3>
				<form action="/login" method="POST">
					<div class="registerFormDiv">
						<h5 class="registerLabel">Email: </h5>
						<input type="text" name="email" placeholder="Email">
					</div>
					<div class="registerFormDiv">
						<h5 class="registerLabel">Password: </h5>
						<input type="password" name="password" placeholder="Password">
					</div>

					<button class="btn btn-primary">Log in</button>
				</form>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>

