<% include ./partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 centredDiv">
				<h3>404 - not found</h3>
				<p>Sorry, the page you are trying to view does not exist...</p>
				<br>
				<img class="marsIcon" src="img/Rover.png">
			</div>
		</div>
	</div>
</div>


<% include ./partials/footer %>

