<% include ./partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container aboutContainer">
		<div class="row">
			<div class="col-12">
				<h2>About</h2>
			</div>
		</div>

		<div class="row animatedParent animateOnce">
			<div class="col-7 animated bounceInUp">
				<div class="aboutDiv">
					<p>Hello!</p>
					<p>I'm Robin Marsden, a full stack developer based in London, UK.</p>
					<p>Following a 15-year career in HR, payroll and finance, I made the switch to concentrate on building a career in web design and development in early 2017.</p>
					<p><strong>Scroll on</strong> to see some of my education and career milestones so far.</p>
					<p>For a full CV, please feel free to <a href="mailto:robin@redmarsdigital.com" target="_top">contact me</a>.</p>
					<div class="padDiv"></div>
				</div>
			</div>
			<div class="col-5 aboutImgDiv animated bounceInUp">
				<img class="aboutImg aboutPortraitImg" src="img/robin2.jpg">
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-6 animated bounceInLeft">
				<div class="aboutDiv">
					<div class="datestamp datestampL">1980</div>
					<p>Born in Chester, to a family of zookeepers.</p>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-6"></div>
			<div class="col-6 animated fadeInRightShort">
				<div class="aboutDiv">
					<div class="datestamp datestampR">1993</div>
					<img class="inlineImg noBottomMarginImg" src="img/386.jpg">
					<p>Assembled my first PC from components: an i386 with 2 whole megabytes of RAM.</p>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-9 animated fadeInUpShort">
				<div class="aboutDiv">
					<div class="datestamp datestampL">1998</div>
					<p>Graduated with 4 grade A A-levels from <strong>Lancaster Royal Grammar School</strong>.</p>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-4"></div>
			<div class="col-8 animated fadeInLeftShort">
				<div class="aboutDiv">
					<div class="datestamp datestampR">1998 - 2001</div>
					<p>Completed a 2:1 BSc in Zoology at the <strong>University of Nottingham</strong>, creating a science education website as my final year project.</p>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-10 animated fadeInRightShort">
				<div class="aboutDiv">
					<div class="datestamp datestampL">2002 - 2007</div>
					<p>Several roles over 6 years with <strong>Protocol National</strong> in Nottingham, primarily as Payroll Supervisor and BACS signatory for the wages of around 7,000 part-time and interim teaching staff.</p>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-5"></div>
			<div class="col-7 animated fadeInLeftShort">
				<div class="aboutDiv">
					<div class="datestamp datestampR">2007 - 2008</div>
					<p>Various short-term finance, payroll and HR contracts:</p>
					<ul>
						<li><strong>Glyndebourne Opera House</strong></li>
						<li><strong>Roedean School</strong></li>
						<li><strong>Select Appointments</strong></li>
					</ul>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-8 animated fadeInRightShort">
				<div class="aboutDiv">
					<div class="datestamp datestampL">2008 - 2010</div>
					<p>Payroll Manager at <strong>Icon Live</strong>, leading a team of 5 and responsible for the wages of ~2,000 part and full-time employees.</p>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-4 aboutImgDiv animated fadeInLeftShort">
				<img class="aboutImg" src="img/telescope.png">
			</div>
			<div class="col-8 animated fadeInLeftShort">
				<div class="aboutDiv">
					<div class="datestamp datestampR">2009 - 2011</div>
					<p>Completed a number of physics and astrophysics modules with the Open University, fitting my studies around full-time employment.</p>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-11 animated fadeInRightShort">
				<div class="aboutDiv">
					<div class="datestamp datestampL">2011 - 2017</div>
					<p>Senior Reward Manager at <strong>Sony Music UK</strong>.</p>
					<figure class="devicon-figure inlineDevicon">
						<i class="devicon-mysql-plain"></i>
						<figcaption>MySQL</figcaption>
					</figure>
					<p>A broad remit with responsibility for UK payroll, pensions and employee benefits, as well as acting as sysadmin for HR, payroll and reward software - and as the principal <span class="spanTech spanDB">MySQL</span> and <span class="spanTech spanDB">SAP Business Objects</span> database administrator and MI report builder.</p>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-12 animated fadeInLeftShort">
				<div class="aboutDiv">
					<div class="datestamp datestampR">Spring 2017</div>
					<p>As a first step to changing career to focus on tech and programming, I refreshed my web development skills from first principles using Udemy's <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/overview">Web Developer Bootcamp</a>.</p>
					<p>Across 297 video tutorials, this well-regarded course comprehensively covered the fundamentals of front-end development, from the foundations - <span class="spanTech spanHTML">HTML</span>, <span class="spanTech spanCSS">CSS</span> and <span class="spanTech spanLanguage">Javascript</span> - through to popular libraries including <span class="spanTech spanLibrary">jQuery</span> and <span class="spanTech spanCSS">Bootstrap</span>.</p>
					<p>On the back-end, the course focused on the <span class="spanTech spanLanguage">Node</span> runtime and the <span class="spanTech spanFramework">Express</span> framework, backed with <span class="spanTech spanDB">mongoDB</span> NoSQL database architecture.</p>
					<div class="centreDiv">
						<figure class="devicon-figure">
							<i class="devicon-html5-plain"></i>
							<figcaption>HTML5</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-javascript-plain"></i>
							<figcaption>Javascript</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-jquery-plain"></i>
							<figcaption>jQuery</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-css3-plain"></i>
							<figcaption>CSS3</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-bootstrap-plain"></i>
							<figcaption>Bootstrap</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-nodejs-plain"></i>
							<figcaption>Node.js</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-express-original"></i>
							<figcaption>Express</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-mongodb-plain"></i>
							<figcaption>MongoDB</figcaption>
						</figure>
					</div>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-11 animated fadeInRightShort">
				<div class="aboutDiv">
					<div class="datestamp datestampL">2017</div>
					<p>The first Red Mars Digital projects were comissioned later in 2017, including two touchscreen installation pieces for a zoo / visitor's centre in Cumbria and a photography portfolio site. You can read more about all of these on the <a href="../projects">Projects</a> page.</p>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>

		<div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
			<div class="col-1"></div>
			<div class="col-11 animated fadeInUpShort">
				<div class="aboutDiv">
					<div class="datestamp datestampR">2018</div>
					<p>In February 2018 I began working at <a href="https://www.rmg.co.uk/">Royal Museums Greenwich</a> as their Digital Media Developer, designing and creating all manner of (hopefully!) entertaining and educational interactive visitor-facing digital content across the museums' four famous sites: the National Maritime Museum, Royal Observatory Greenwich, Cutty Sark and Queen's House.</p>
					<p>So far I have produced a number of digital interactives now installed in permanent galleries, including in the <a href="https://www.rmg.co.uk/whats-on/four-new-galleries">Maritime Museum's brand new 'Endeavour' wing</a> that opened in September. I have also created several installations for temporary exhibitions, including the fantastic <a href="https://www.rmg.co.uk/whats-on/astronomy-photographer-year/exhibition">Insight Investment Astronomy Photographer of the Year competition 2018</a>.</p>
					<div class="centreDiv">
						<figure class="devicon-figure">
							<i class="devicon-html5-plain"></i>
							<figcaption>HTML5</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-javascript-plain"></i>
							<figcaption>Javascript</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-jquery-plain"></i>
							<figcaption>jQuery</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-css3-plain"></i>
							<figcaption>CSS3</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-nodejs-plain"></i>
							<figcaption>Node.js</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-ubuntu-plain"></i>
							<figcaption>Ubuntu</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-apache-plain"></i>
							<figcaption>Apache</figcaption>
						</figure>
						<figure class="devicon-figure">
							<i class="devicon-python-plain"></i>
							<figcaption>Python</figcaption>
						</figure>
					</div>
					<div class="padDiv"></div>
					<div class="padDiv"></div>
				</div>
			</div>
		</div>


	</div>
</div>


<% include ./partials/footer %>

