<!DOCTYPE html>
<html lang="EN">
<head>
	<title>The Deadly Dungeons of Baron Backslash</title>
	<link rel="stylesheet" type="text/css" href="crawler.css">
	<script type="text/javascript" src="lib/jquery-3.3.1.min.js"></script>
	<meta property="og:url" content="https://www.redmarsdigital.com/baronbackslash" />
	<meta property="og:title" content="The Deadly Dungeons of Baron Backslash">
	<meta property="og:description" content="A fast-paced pixel art dungeon crawler game for the browser.">
	<meta property="og:image" content="http://www.redmarsdigital.com/baronbackslash/img/Screenshot.jpg">
	<meta property="og:image:width" content="1418">
	<meta property="og:image:height" content="860">
	<meta property="og:site_name" content="The Deadly Dungeons of Baron Backslash">
	<meta name="twitter:card" content="summary_large_image">
</head>
<body>
	
	<div id="result" style="color:white;"></div>
	<div id="details" style="color:white;"></div>

	<img class="tileSet" id="dungeon1Tiles" src="Dungeon1.png">
	<img class="tileSet" id="playerSpriteImg" src="Player.png">
	<img class="tileSet" id="monsterSprites" src="Monsters.png">
	<img class="tileSet" id="obstacleSprites" src="Obstacles.png">
	<img class="tileSet" id="floorDecorSprites" src="Decor.png">

	<div id="container">
		<div id="gameMenuDiv">

			<div id="ieScreen" class="gameMenuScreen" hidden>
				<div class="centredMenuScreen">
					<div>
						<h3>It looks like you're using <span id="browserSpan">browser</span>!</h3>
						<h3>Unfortunately Microsoft's browsers don't want to play nicely with pixel graphics :(</h3>
						<h3>Please try again using another browser such as Firefox, Chrome or Opera.</h3>
					</div>
				</div>
 			</div>

			<div id="loadingScreen" class="gameMenuScreen" hidden>
				<div class="centredMenuScreen">
					<div>
						<h3>Loading</h3>
						<div class="loader"></div>
					</div>
				</div>
 			</div>

 			<div id="playerNameScreen" class="gameMenuScreen" hidden>
 				<div class="centredMenuScreen">
					<form class="playerNameForm">
						<h3>More meat for the dungeon!</h3>
						<h3>By what name will you be remembered?</h3>
						<input type="text" name="playerName" id="playerName" maxlength="20" placeholder="Anonymous Victim" autofocus>
						<button class="enterNameBtn">
							<h3>Start</h3>
						</button>
					</form>
 				</div>
 			</div>

			<div id="startScreen" class="gameMenuScreen" hidden>
				<h5>Red Mars Digital presents...</h5>
				<h5>The</h5>
				<img src="img/DeadlyDungeons.png">
				<h5>of</h5>
				<img src="img/BaronBackslash.png">
				<hr class="symbol">
				<h5>Insert 1 gold coin to play!</h5>
				<hr class="symbol">
				<img class="menuHero" src="img/Hero.gif">
				<img class="menuBaron" src="img/Baron.gif">
   				<button class="newGameBtn selected" autofocus="true">
					<h3>New Game</h3>
				</button>
				<button class="howToPlayBtn">
					<h3>How to play</h3>
				</button>
 			</div>

			<div id="controlsScreen" class="gameMenuScreen" hidden>
				<h3>Controls</h3>
				<div class="keyContainer">
					<div class="leftKeys">
						<div class="key">W</div>
						<div class="3keys">
							<div class="key">A</div>
							<div class="key">S</div>
							<div class="key">D</div>
						</div>
					</div>			
					<div class="rightKeys">
						<div class="key">&#8679;</div>
						<div class="3keys">
							<div class="key">&#8678;</div>
							<div class="key">&#8681;</div>
							<div class="key">&#8680;</div>
						</div>
					</div>			
				</div>
				<div class="keyContainer">
					<div>
						<p>Move in direction</p>
					</div>
					<div>
						<p>Attack in direction</p>
					</div>
				</div>
				<div class="keyContainer">
					<div class="spacebar"></div>
				</div>
				<div class="keyContainer">
					Hit space to interact with objects and equip items
				</div>
				<hr class="symbol">
				<div class="keyContainer pickupText">
					<div>
						<img src="img/pickupHeart.png">
					</div>
					<div>
						Collect pickups and eat mushrooms by walking over them
					</div>
					<div>
						<img src="img/pickupMushroom.png">
					</div>
				</div>
				<button class="mainMenuBtn" autofocus="true">
					<h3>Main menu</h3>
				</button>
			</div>

			<div id="deathScreen" class="gameMenuScreen" hidden>
				<div class="centredMenuScreen">
					<div>
						<h1>You have died!</h1>
						<h3>You scored <span class="finalScoreSpan">0</span> points.</h3>
						<hr class="symbol">
						<button class="newGameBtn" autofocus="true">
							<h3>Play again</h3>
						</button>
						<button class="mainMenuBtn">
							<h3>Main menu</h3>
						</button>
					</div>
				</div>
			</div>

			<div id="endLevelScreen" class="gameMenuScreen" hidden>
				<div class="centredMenuScreen">
					<div>
						<h1>Level <span id="completedLevelSpan">X</span> complete!</h1>
						<h3>Our hero descends into the dark stairwell.</h3>
						<h3>What fresh horrors lie in wait below...?</h3>
						<hr class="symbol">
						<button class="nextLevelBtn selected" autofocus="true">
							<h3>Start level <span id="nextLevelSpan">X</span></h3>
						</button>
					</div>
				</div>
			</div>

			<div id="gameCompleteScreen" class="gameMenuScreen" hidden>
				<h1>Congratulations</h1>
				<h1><span class="playerNameSpan"></span>!!</h1>
				<h3>You have at last defeated the evil Baron and escaped his not-so-deady dungeons.</h3>
				<h3>You scored a mighty <span class="finalScoreSpan">0</span> points.</h3>
				<h3>Thanks for playing!</h3>
				<hr class="symbol">
				<button class="mainMenuBtn" autofocus="true">
					<h3>Main menu</h3>
				</button>
			</div>			

		</div>

		<div id="interfaceDivLeft" hidden>
			<div id="healthDiv">
				<p>
					<img src="img/heart.png"> 
					<span class="healthSpan"></span>
					<img id="exitkeyimg" src="img/exitkey.png" hidden> 
				</p>
				<p class="itemSpan">
					
				</p>
<!-- 				<p class="fpsSpan" id="fps"></p> -->
			</div>
		</div>

		<div id="messageDiv" hidden>
			<span id="messageSpan"></span>
		</div>

<!-- 		<div id="interfaceDivMid">
			<p>
				<span class="hiScoreSpan"></span>
			</p>
		</div>
 -->
		<div id="interfaceDivRight">
			<div id="scoreDiv">
				<p>
					<span class="scoreSpan"></span>
					<img id="musicBtn" src="img/Music.png">
				</p>
				<p>
					<span class="hiScoreSpan"></span>
				</p>
			</div>
		</div>
	</div>


	<div id="hiScoreDiv">

		<p>The Deadly Dungeons of Baron Backslash is currently running version 1.0.2.</p>
		<p>I plan to add more content, creatures, items, levels and other surprises in future!</p>
		<p>To hear about future updates, follow the Baron on Twitter:</p>
		<p><img class="twitterIcon" src="img/Twitter.png"> <a href="https://twitter.com/Baron_Backslash">@Baron_Backslash</a></p>
		<br>

		<div class="centredDiv">
			<!-- AddToAny BEGIN -->
			<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
				<div class="centredDiv">
					<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
					<a class="a2a_button_facebook"></a>
					<a class="a2a_button_twitter"></a>
<!-- 					<a class="a2a_button_google_plus"></a> -->
					<a class="a2a_button_tumblr"></a>
				</div>
			</div>
			<script>
			var a2a_config = a2a_config || {};
			a2a_config.color_main = "82606f";
			a2a_config.color_border = "82606f";
			a2a_config.color_link_text = "1c1117";
			a2a_config.color_link_text_hover = "1c1117";
			a2a_config.color_bg = "dec0ce";
			a2a_config.color_arrow_hover = "fff";
			</script>
			<script async src="https://static.addtoany.com/menu/page.js"></script>
			<!-- AddToAny END -->
		</div>

		<br>

		<hr class="symbol">

		<h3>Hall of Fame</h3>
		<div>
			<button id="todayBtn" class="hiScoreBtn hiScoreBtnSelected">Today</button>
			<button id="allTimeBtn" class="hiScoreBtn">All Time</button>
		</div>
<!-- 		<h3>The Baron has been defeated <span id="baronDefeats">X</span> times!</h3> -->
		<div id="todayScoreTableDiv" class="scoreboardDiv">
			<table id="todayScoreboard" class="scoreboard">
				<tr>
					<th>Name</th>
					<th>Score</th>
					<th>Level</th>
					<th></th>
				</tr>
			</table>
		</div>
		<div id="allTimeScoreTableDiv" class="scoreboardDiv" hidden>
			<table id="allTimeScoreboard" class="scoreboard">
				<tr>
					<th>Name</th>
					<th>Score</th>
					<th>Level</th>
					<th></th>
				</tr>
			</table>
		</div>
	</div>

	<div id="creditsDiv">

		<hr class="symbol">

		<h3>Credits</h3>
		<p>A game by <a href="www.redmarsdigital.com">Red Mars Digital</a>.</p>
		<p>Concept, game engine, music, sound, graphics, animation and programming by Robin Marsden, with essential contributions from the following:</p>
		<ul>
			<li>Enormous thanks to Robert Norenberg for his most excellent <a href="https://0x72.itch.io/16x16-dungeon-tileset">Dungeon Tileset</a>, which supplied all of the best creature sprites and dungeon graphics - as well as laying the foundations for and inspiring the rest of the visuals. Legend!</li>
			<li>Huge credit to Isaac Sukin (@IceCreamYou) for his watertight open source game loop, <a href="https://github.com/IceCreamYou/MainLoop.js">MainLoop.js</a>, around which the whole game is built.</li>
			<li>Big thanks to Juhani Junkala for his great <a href="https://soundcloud.com/juhanijunkala/free-retro-video-game-sound-effects-pack-preview-512-sounds-download-link-in-desctiption">retro video game sound effects pack</a>, and to techno legend and all-round badass Legowelt for his phenomenal <a href="http://legowelt.org/samples/">sample kits</a>, both of which were used extensively in creating the sounds & music.</li>
			<li>Respect to codeman38 for the beautifully retro <a href="http://www.1001fonts.com/dpcomic-font.html">DPComic</a> font.</li>
			<li>Thanks too to the creators of the super handy <a href="https://github.com/Gamevy/howler.js.2.0">Howler.js 2.0</a> audio handling library and slick pseudo-random number generator algorithm <a href="https://gist.github.com/blixt/f17b47c62508be59987b">prng.js</a>.</li>
			<li>Finally, love to "Blue Squark" Laura for her unique monster noises... and more importantly for putting up with losing me to this nonsense for the last 6 weeks!</li>	
		</ul>
		<hr class="symbol">
	</div>

	<div id="disqus_thread"></div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://baronbackslash.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            

	<div id="footerDiv">
		<hr class="symbol">
		<p>Copyright Red Mars Digital 2018</p>
	</div>


	<script type="text/javascript" src="constants.js"></script>
	<script type="text/javascript" src="lib/mainloop.js"></script>
	<script type="text/javascript" src="lib/prng.js"></script>
	<script type="text/javascript" src="lib/howler.core.js"></script>
	<script type="text/javascript" src="levelTilesets.js"></script>
	<script type="text/javascript" src="levels.js"></script>
	<script type="text/javascript" src="obstacles.js"></script>
	<script type="text/javascript" src="items.js"></script>
	<script type="text/javascript" src="player.js"></script>
	<script type="text/javascript" src="creatures.js"></script>
	<script type="text/javascript" src="creatureWeapons.js"></script>
	<script type="text/javascript" src="gear.js"></script>
	<script type="text/javascript" src="audio.js"></script>
	<script type="text/javascript" src="menuScreens.js"></script>
	<script type="text/javascript" src="crawler.js"></script>
	<script type="text/javascript" src="ai.js"></script>

	<script id="dsq-count-scr" src="//baronbackslash.disqus.com/count.js" async></script>

</body>
</html>