<% include ./partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<h2>Creative</h2>
				<p>A small selection of some of my personal creative efforts (not necessarily code or Mars-related!).</p>
			</div>
		</div>

		<div class="row grid">

			<div class="col col-6">

				<div class="gridItem">
					<a href="/creative/terracognita">
						<div class="projectThumb">
							<h3>Terra Cognita</h3>
							<span>A digital collage created from images released onto Flickr Commons by the British Library.</span>
							<img src="/img/terracognitaPreview.jpg">
							<div class="padDiv"></div>
						</div>
					</a>
				</div>

				<div class="gridItem">
					<a href="/creative/redmarsradio">
						<div class="projectThumb">
							<h3>Red Mars Radio</h3>
							<span>Blended collections of ambient, otherworldly and minimalist soundscape music - ideal accompaniment for late-night programming sessions.</span>
							<img src="/img/RedMarsRadio[0].jpg">
							<div class="padDiv"></div>
						</div>
					</a>
				</div>

			</div>
			<div class="col col-6">

				<div class="gridItem">
					<a href="/creative/nohmasks">
						<div class="projectThumb">
							<h3>Noh masks</h3>
							<span>A series of small oil paintings of Japanese Noh theatre masks.</span>
							<img src="/img/nohmasks.jpg">
							<div class="padDiv"></div>
						</div>
					</a>
				</div>

			</div>

		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/lib/easyzoom.css">
<script type="text/javascript" src="/js/projects.js"></script>


<% include ./partials/footer %>

