<% include ./partials/header %>

		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/about">
							<h2>About</h2>
							<p><strong>Red Mars Digital</strong> is the home of web design and development by <strong>Robin Ed Marsden</strong>.</p>
							<p>Visit this page for an overview of my career journey so far, and for an introduction to the technologies, libraries and packages learned along the way.</p>

							<div class="container noMargin noMarginContainer">
								<div class="row noMarginRow">
									<div class="col col-6 noMargin noMarginCol techBlock">
										<p>At the moment my stack of choice includes:</p>
										<figure class="devicon-figure">
											<i class="devicon-nodejs-plain"></i>
											<figcaption>Node.js</figcaption>
										</figure>
										<figure class="devicon-figure">
											<i class="devicon-express-original"></i>
											<figcaption>Express</figcaption>
										</figure>
										<figure class="devicon-figure">
											<i class="devicon-mongodb-plain"></i>
											<figcaption>MongoDB</figcaption>
										</figure>
										<figure class="devicon-figure">
											<i class="devicon-bootstrap-plain"></i>
											<figcaption>Bootstrap</figcaption>
										</figure>

										<p>Building on the core technologies of the web:</p>
										<figure class="devicon-figure">
											<i class="devicon-html5-plain"></i>
											<figcaption>HTML5</figcaption>
										</figure>
										<figure class="devicon-figure">
											<i class="devicon-css3-plain"></i>
											<figcaption>CSS3</figcaption>
										</figure>
										<figure class="devicon-figure">
											<i class="devicon-javascript-plain"></i>
											<figcaption>Javascript</figcaption>
										</figure>
										<figure class="devicon-figure">
											<i class="devicon-jquery-plain"></i>
											<figcaption>jQuery</figcaption>
										</figure>
									</div>

									<div class="col col-6 noMargin noMarginCol portraitBlock">
										<img class="aboutImg" src="img/robin.jpg">
									</div>
								</div>
							</div>

							<p>Please don't hesitate to <a class="homelink" href="mailto:robin@redmarsdigital.com" target="_top">get in touch</a> if you would like to discuss a collaboration or commission, or have an opening in your business that I may be able to fill.</p>
						</a>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/Rover.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg2">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col-12">
						<a class="headerLink" href="/projects">
							<h2>Projects</h2>
							<p>Explore the Red Mars Digital projects delivered so far, and some of those still in progress.</p>
							<p>Work to date includes:
								<ul>
									<li>Edutainment installations for the Lakeland Wildlife Oasis, a zoo and visitor centre in Cumbria, UK</li>
									<li>Wikifindings, a dynamic repository of lay summaries of academic research articles</li>
									<li>Chasing Shadows, a nature / music / fashion photography portfolio website</li>
									<li>The Deadly Dungeons of Baron Backslash, a retro pixel-art dungeon escape game for the HTML canvas</li>
								</ul>
							</p>
						</a>
						<div class="colFooter colFooterL">
							<img class="marsIcon" src="img/Mariner4.png">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/blog">
							<h2>Blog</h2>
							<p>A diary of  my journey into programming and web design, after making the decision to swap corporate employment in HR, payroll and finance for a life of code in 2017.</p>
							<p>Blogposts will review some of the courses and resources that have helped me on the journey, as well as some of the more interesting diversions that have cropped up along the way!</p>
						</a>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/Phobos.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg3">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col-12">
						<a class="headerLink" href="/creative">
							<h2>Creative</h2>
							<p>A small selection of some of my personal creative efforts that are not necessarily code or Mars-related.</p>
							<p>I have always been interested in the novel creative possibilities offered by new technology and enjoy experimenting with digital audio and graphics, as well as more traditional art techniques.</p>
						</a>
						<div class="colFooter colFooterL">
							<img class="marsIcon" src="img/Mars3.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv solidBgDivLast">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/mars">
							<h2>Mars</h2>
							<p>Explore the planet Mars and learn more about some of its incredible geography, as well as a selection of the missions that have visited so far.</p>
						</a>
						<hr>
						<p><strong>Why Mars - what's that all about?</strong></p>
						<p>I have always been fascinated by the red planet.</p>
						<p>Not only does it remain one of the most promising places to search for evidence of an independent origin of life, with all the huge implications for our place in the Universe that such a discovery would entail, but the prospect of sending human visitors (and perhaps even settlers!) seems to be a lead candidate for humanity's next great milestone technological achievement that could plausibly be accomplished in my lifetime.</p>
						<p>To me, Mars represents one of our best possible futures - one which is hopeful and aspirational, but will take focus and unprecedented hard work to reach.</p>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/MRO.png">
						</div>
					</div>
				</div>
			</div>
		</div>

<% include ./partials/footer %>
