<% include ./partials/header %>

<div class="bgDiv solidBgDivLast bgDivBlack">
	<div class="container">
		<div class="row">
			<div class="col col-12 whiteTextCol">
				<h2>Mars</h2>
				<p>Mouse over the map markers to discover more.</p>
			</div>
		</div>

		<div class="row globeRow">
		  	<div class="globeWrapper">
		  		<div class="col col-12" id="globe"></div>
		  	</div>

		  	<div class="controlDiv tooltip" id="globeControls">
		  		<i id="gbutb3" class="gbut fa fa-fast-backward" aria-hidden="true"></i>
		  		<i id="gbutb2" class="gbut fa fa-backward" aria-hidden="true"></i>
		  		<i id="gbutb1" class="gbut fa fa-play flipi" aria-hidden="true"></i>
		  		<i id="gbutp" class="gbut fa fa-pause" aria-hidden="true"></i>
		  		<i id="gbutf1" class="gbut fa fa-play selecti" aria-hidden="true"></i>
				<i id="gbutf2" class="gbut fa fa-forward" aria-hidden="true"></i>
				<i id="gbutf3" class="gbut fa fa-fast-forward" aria-hidden="true"></i>
				<div class="tooltipText tooltipControls">Rotation controls</div>
		  	</div>

		  	<div class="controlDiv" id="overlayControls">
		  		<i id="lbutup" class="lbut fa fa-chevron-up tooltip" aria-hidden="true"><div class="tooltipText tooltipUp">Increase latitude</div></i>
		  		<i id="lbutdown" class="lbut fa fa-chevron-down tooltip" aria-hidden="true"><div class="tooltipText tooltipDown">Decrease latitude</div></i>
		  		<i id="obutmissions" class="obut fa fa-rocket selecti tooltip" aria-hidden="true"><div class="tooltipText tooltipMissions">Toggle missions</div></i>
		  		<i id="obutgeography" class="obut fa fa-circle selecti tooltip" aria-hidden="true"><div class="tooltipText tooltipGeography">Toggle geography</div></i>
		  	</div>

		  	<div class="pointDetails controlDiv pointInfo globeOverlayLeft">
		  		<h4></h4>
		  		<div></div>
		  		<span class="closeSpan"><span class="closeBtn">X</span><span class="closeDiv">close</span></span>
		  	</div>

		  	<div class="pointDetails controlDiv pointImg globeOverlayRight">
		  		<img src="">
		  		<div></div>
		  	</div>

		</div>

		<div class="row footerInfo">
			<div class="col pointDetails pointInfo globeFooter">
		  		<h4></h4>
		  		<p></p>
			</div>
		  	<div class="col pointDetails pointImg globeFooter">
		  		<img src="">
		  		<p></p>
		  	</div>
		  	<div class="col hrCol">
			  	<hr>
		  	</div>
		</div>

		<div class="row">
			<div class="col whiteTextCol">
				<p>This application was created using <span class="spanTech spanLibrary"><a href="https://threejs.org/"></a>three.js</span>.</p>
				<p>Code is based on a three.js Earth globe tutorial by <a href="http://www.smartjava.org/content/render-open-data-3d-world-globe-threejs">Jos Dirksen at Smartjava.org</a>, via <a href="http://chrismacpherson.net/science/dev/space-junk-with-javascript/">Chris MacPherson</a>.</p>
				<p>All images are public domain, via NASA. The Mars map projection comes from NASA's <a href="https://mars.nasa.gov/maps/explore-mars-map/fullscreen/">Mars Trek</a> site.</p>
			</div>
		</div>
	</div>
</div>

<script src="/lib/imagesloaded.pkgd.min.js"></script>
<script src="/lib/three.js"></script>
<script src="/lib/Tween.js"></script>
<script type="text/javascript" src="/js/mars_points.js"></script>
<script type="text/javascript" src="/js/mars.js"></script>

<% include ./partials/footer %>

