<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>Noh masks</h3>
				<p>A series of small (~20cm square) oil paintings of Japanese Noh theatre masks. I painted these in early 2017 having only recently picked a paintbrush back up after several years, but am fairly pleased with the results!</p>
				<figure class="nohFigure">
					<img src="/img/mask_kumasaka.jpg" alt="Kumasaka Noh mask.">
					<figcaption>熊坂 - Kumasaka</figcaption>				
				</figure>
				<figure class="nohFigure">
					<img src="/img/mask_ko-omote.jpg" alt="Ko-omote Noh mask.">
					<figcaption>小面 - Ko-omote</figcaption>				
				</figure>
				<figure class="nohFigure">
					<img src="/img/mask_ja.jpg" alt="Ja Noh mask.">
					<figcaption>蛇 - Ja</figcaption>				
				</figure>
				<figure class="nohFigure">
					<img src="/img/mask_okina.jpg" alt="Okina Noh mask.">
					<figcaption>白式尉 - Okina</figcaption>				
				</figure>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/lib/easyzoom.css">
<script type="text/javascript" src="/lib/easyzoom.js"></script>
<script type="text/javascript" src="/js/creative.js"></script>

<% include ../partials/footer %>

