<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>Terra Cognita</h3>
				<a href="https://www.gimp.org/">
					<figure class="devicon-figure inlineDevicon">
						<i class="devicon-gimp-plain"></i>
						<figcaption>GIMP</figcaption>
					</figure>
				</a>
				<p>A digital collage created from images released onto <a href="https://www.flickr.com/commons">Flickr Commons</a> by the <a href="https://www.bl.uk/">British Library</a>.</p>
				<p>From a 2013 <a href="http://blogs.bl.uk/digital-scholarship/2013/12/a-million-first-steps.html">post</a> on the British Library's Digital Scholarship blog, I learned that they had recently uploaded over a million images scanned from 17th, 18th and 19th century books into the public domain.</p>
				<p>The files were not curated, were largely unlabelled and were listed in no particular order, so the collection wasn't straightforward to work with - but as there were no end of fascinating forgotten artworks buried in there I decided to recombine some of them into a new piece for myself.</p>
				<p>The process of collecting suitable source images, cutting the subjects from their backgrounds and assembling the collage (using <a href="https://www.gimp.org/"><span class="spanTech spanLanguage">GIMP</span></a>) took up my spare evenings for about a month - but I now have a large, unique finished piece hanging on my wall that I'm pretty happy with. So it was worth it!</p>
				<hr>
				<p>You can explore the finished artwork closer-up here:</p>
				<div class="zoomWrapper">
					<div class="easyzoom easyzoom--overlay is-ready">
						<a href="/img/terracognitaFull.jpg">
							<img class="tcPreview" src="/img/terracognitaPreview.jpg">
						</a>
					</div>
				</div>
				<p>The final framed piece, displayed on my living room wall:</p>
				<img src="/img/terracognitaFramed.jpg">
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/lib/easyzoom.css">
<script type="text/javascript" src="/lib/easyzoom.js"></script>
<script type="text/javascript" src="/js/creative.js"></script>

<% include ../partials/footer %>

